@include media-md {
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &__item {
                display: inline;
                padding-right: 1.5rem;
            }

            &__link {
                font-size: 1.5rem;
            }
        }
    }

    .about__bio {
        font-size: 1.5rem;
    }

    .projects {
        &__bio-img {
            height: 40vh;
        }

        &__items {
            grid-template-columns: repeat(2, 1fr);
        }

        .text-secondary {
            font-size: 3rem;
        }
    }

    .contact__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include media-lg {
    .projects {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .contact__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include  media-xl {
    .projects__bio-img {
        height: 50vh;
    }
}

@media screen and (max-width: 700px){
    footer {
        transform: rotate(90deg) translate(-3rem,-5rem);
    }
    
    .home {
        padding-top: 20vh;
        &__name {
            word-break: break-all;  
            font-size: 4.5vh;
            &--last {
                word-break: break-all;  
                line-height: 1;
                white-space: pre;
                font-size: 4.5vh;
            }
        }
    }

    .contact {        
        padding-top: 20vh;

        &__list {
            text-align: center;
        }
    }
    #mail {
        font-size: 19px;
    }
} 